body {
  margin: 0;
  font-Family: 'Orbitron, sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* index.css */
.text-link {
  color: #CACACA;
  font-family: 'Orbitron', sans-serif;
  font-size: 0.9rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.text-white {
  color: white;
}


.text-link:hover {
  color: #ffffff;
  text-decoration: underline;
}


input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.MuiFormLabel-root {
  color: white !important;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

/* Aplica la inversión de color a la flecha de los selectores */
.MuiSelect-icon {
  filter: invert(1);
}


